* {
  margin: 0;
	padding: 0;
	box-sizing: content-box;
}

pre {
	font-size: 7em;
}
.tick line{
	stroke: #c0c0bb;
}
.tick text{
	fill: #635f5d;
}
.mark{
	fill: #137b80;
}
.axis-label{
	font-size: 2.7rem;
	fill: #137b80;
}